<div class="row justify-content-md-center marging-top-30">
  <form class="col-md-3" [formGroup]="inicioSesionFrom">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre de usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="nombreUsuario" required>
      <small id="emailHelp" class="form-text text-muted">Es el nombre que se registro en la plataforma</small>
    </div>
    <div class="form-group">
      <label for="clave">Contraseña</label>
      <input type="password" class="form-control" id="clave" formControlName="clave" required>
    </div>
    <div class="form-group form-check">
      <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">
       <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
    </div>
    <button type="submit" class="btn btn-primary" (click)="enviarFormulario()">Iniciar sesión</button>
  </form>
</div>
