<p appResaltar>pagina-principal works!</p>
<br>
<br>
<div class="form-group">
  <label for="clave">Ingrese una cédula</label>
  <input type="text" class="form-control" [(ngModel)]="cedula">
</div>
<div class="table-responsive col-md-11 col-offset-1">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cédula</th>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Segundo Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr appResaltar *ngFor="let usuario of usuarios | filtro : cedula; index as i ">
        <td>{{usuario.cedula}}</td>
        <td>{{usuario.primerNombre}}</td>
        <td>{{usuario.segundoNombre}}</td>
        <td>{{usuario.primerApellido}}</td>
        <td>{{usuario.segundoApellido}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>


